* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1818;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(212, 178, 113);
    box-shadow: 0 4px 8px rgba(15, 15, 15, 0.11);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    margin-bottom: 15px;
}

button {
    background-color: #23ab29;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #064f19;
}

img {
    max-width: 100%;
    height: auto;
    border: 3px solid black;
    
    
}
